*, *::before, *::after {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, product, blockquote, dl, dd {
    margin: 0;
}

ul, ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

html:focus-within {
    scroll-behavior: smooth;
}

html, body {
    text-rendering: optimizeSpeed;
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: black;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img, picture {
    max-width: 100%;
    display: block;
}

input, button, textarea, select {
    font: inherit;
}

.wrapper {
    min-height: 100vh;
    overflow: hidden;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.page__content {
    display: flex;
    justify-content: center;
    flex: 1;
}

.component__container {
    width: 100%;
    max-width: 1200px;
}

:root {
    --shadow1: rgba(255,255,255,0.7);
    --shadow2: rgba(0, 0, 0, 0.15);
    --radius:  16px;
    --space:   1rem;
}

/* Карточка */
.neu-card {
    border-radius: var(--radius);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: box-shadow .3s ease;
}

/* Вдавлений inset стиль */
.neu-card:hover {
    box-shadow:
            inset -4px -4px 8px var(--shadow1),
            inset  4px  4px 8px var(--shadow2);
}

.neu-card:active {
    box-shadow:
            inset -8px -8px 16px var(--shadow1),
            inset  8px  8px 16px var(--shadow2);
}

/* Інпут в тому ж стилі */
.neu-input {
    border: none;
    border-radius: var(--radius);
    padding: var(--space);
    box-shadow:
            inset -4px -4px 8px var(--shadow1),
            inset  4px  4px 8px var(--shadow2);
    transition: box-shadow .2s ease;
}

/* Більш вдавлений */
.neu-input:focus {
    outline: none;
    box-shadow:
        inset -4px -4px 8px var(--shadow1),
        inset  4px  4px 8px var(--shadow2);
}

/* Кнопка */
.neu-btn {
    border: none;
    border-radius: var(--radius);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    cursor: pointer;
    transition: all .2s ease;
}

.neu-btn:hover {
    box-shadow:
        inset -4px -4px 8px var(--shadow1),
        inset  4px  4px 8px var(--shadow2);
}

.neu-btn:active {
    box-shadow:
        inset -8px -8px 16px var(--shadow1),
        inset  8px  8px 16px var(--shadow2);
}

/* --- Header --- */

.header {
    height: 100px;
    width: 100%;
    padding: 0 40px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.header__content {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}

.header__logo-container {
    height: 100%;
    max-width: 180px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

header h1 {
    font-size: 20px;
}

.header__nav {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.header__nav__tel {
    display: flex;
    justify-content: end;
    margin-bottom: 15px;
}

.header__nav__menu {
    max-height: 80px;
    display: flex;
    font-size: 12px;
}

.header__btn__container {
    height: 60px;
    width: 60px;
    margin-right: 10px;
}

.header__btn__container:last-child {
    margin-right: 0;
}

.header__link {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.header__btn {
    height: 100%;
    width: 100%;
}

/* --- Goods Counter --- */

.goods__counter__container {
    align-self: start;
}

.goods__counter {
    color: purple;
    align-self: start;
}

/* -- Sidebar -- */

.sidebar {
    padding-top: 120px;
    width: 100%;
}

.sidebar__nav__item {
    height: 40px;
    font-size: 16px;
    margin-bottom: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.sidebar__nav__item:last-child {
    margin-bottom: 0;
}

.sidebar__nav__item a {
    width: 100%;
    height: 100%;
    line-height: 40px;
    padding: 0 15px;
}

/* -- Auth -- */

.auth__form__container {
    border: 2px solid purple;
    width: 600px;
    margin: 70px auto 0;
    padding: 50px;
}

.auth__form__container h2 {
    text-align: center;
    margin-bottom: 30px;
}

.auth__form-email input {
    width: 100%;
    margin-bottom: 20px;
}

.auth__form-pass input {
    width: 100%;
    margin-bottom: 10px;
}

.auth__form__register__advice {
    margin-bottom: 20px;
}

.auth__form__register__advice a {
    color: blue;
}

.auth__form__register__advice a:hover {
    color: green;
}

/* --- TypeBar --- */

.typebar__container {
    margin-bottom: 25px;
    padding: 0 15px;
}

.typebar__item {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    padding: 0;
    max-width: 170px;
    height: 50px;
    cursor: pointer;
    box-shadow:
            rgba(0, 0, 0, 0.19) 0px 10px 20px,
            rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.typebar__item:last-child {
    margin: 0;
}

.typebar__item:focus {
    box-shadow:
        rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.typebar__item-active {
    border: 1px solid green;
}

.typebar__item-cancel {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
}

/* -- Gallery -- */

.gallery {
    margin-bottom: 50px;
}

.gallery__row {
    margin-bottom: 20px;
}

.gallery__card {
    max-width: 250px;
    height: 100%;
    cursor: pointer;
    padding: 20px;
}

.gallery__card img {
    align-self: center;
    width: 100%;
    border-radius: 5px;
    max-width: 200px;
    height: 200px;
}

.gallery__title h2 {
    padding: 0 20px 20px;
    font-size: 20px;
}

.fa-heart {
    color: purple;
}

.gallery__card__product__code {
    font-size: 15px;
    margin-bottom: 15px;
}

.gallery__card__product__name {
    font-size: 18px;
    margin-bottom: 5px;
}

.gallery__card__product__price {
    font-size: 15px;
}

.gallery__card__product__price span {
    color: purple;
    font-size: 22px;
}

/* --- Admin Page --- */

.admin__page__action__btn__container {
    margin-bottom: 30px;
}

.admin__page__action__btn {
    align-self: center;
    margin-right: 20px;
    width: fit-content;
    padding: 15px 15px;
}

.admin__page__action__btn:last-child {
    margin-right: 0;
}

.admin__page__edit__btns__container {
    display: flex;
    justify-content: center;
}

.admin__page__edit__btn {
    margin-right: 10px;
}

/* --- Modals Dropdown --- */

.modal__dropdown, .modal__input {
    margin-bottom: 20px;
}

/* --- Pagination --- */

.pagination {
    display: flex;
    justify-content: center;
    transform: translateX(-150px);
}

/* --- Cart Page --- */

.order__page__title {
    margin-bottom: 30px;
}

.cart__table__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart__table__container h2 {
    margin-bottom: 20px;
}

.cart__table__container table {
    min-width: 300px;
    max-width: 900px;
    margin-bottom: 40px;
}

/* --- ORDER Page --- */

.buyer__contacts__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.buyer__contacts__form p {
    color: grey;
    align-self: start;
    margin-bottom: 5px;
}

.input__label__required__marker {
    color: red;
    margin-left: 2px;
}

.buyer__contacts__form-input {
    margin-bottom: 20px;
    height: 40px;
    width: 80%;
    align-self: start;
    border: 1px solid purple;
    border-radius: 5px;
}

.buyer__contacts__form-input[name="comments"] {
    height: 100px;
    margin-bottom: 50px;
}

.order__form__btn__container {
    display: flex;
    width: 80%;
    align-self: start;
    justify-content: space-between;
}

/* --- Contacts page --- */

.contacts__container {
    display: flex;
    justify-content: center;
}

.contacts__content {
    min-width: 300px;
    max-width: 600px;
}

.contacts__icon {
    color: purple;
    margin-right: 10px;
}

.contacts__info__block {
    margin-bottom: 30px;
}

.contacts__info__block h2, h4 {
    margin-bottom: 20px;
}

.contacts__tel__block p {
    margin-bottom: 5px;
}

.contacts__tel__block p:last-child {
    margin-bottom: 0;
}

.contacts__graphic__block p {
    margin-bottom: 10px;
}

.contacts__graphic__block p:last-child {
    margin-bottom: 0;
}

.contacts__address__block p {
    margin-bottom: 15px;
}

.contacts__support__block {
    font-size: 16px;
}

.contacts__support__block h4 {
    margin-bottom: 15px;
}

.contacts__support__block p {
    margin-bottom: 10px;
}

.contacts__support__block p:last-child {
    margin-bottom: 0;
}

/* --- Footer --- */

footer {
    margin-top: 50px;
    min-height: 100px;
    width: 100%;
    padding: 40px 0 30px;
    color: #E6E6E6;
    background-color: black;
    display: flex;
    justify-content: center;
}

.footer__content {
    width: 100%;
    max-width: 1200px;
    font-size: 14px;
}

.footer__links-container {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.footer__column-links a {
    color: #E6E6E6;
    display: block;
    min-width: 140px;
}

.footer__column-links {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer__column-contacts {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.footer__copyrights-container {
    display: flex;
    justify-content: center;
}

.footer__column-copyrights {
    display: flex;
    justify-content: center;
    align-items: end;
}

.footer__column-contacts p {
    min-width: 250px;
}
