*, *::before, *::after {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd {
    margin: 0;
}

ul[class], ol[class] {
    list-style: none;
    margin: 0;
    padding: 0;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: black;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img, picture {
    max-width: 100%;
    display: block;
}

input, button, textarea, select {
    font: inherit;
}

.body {
    font-family: "Arial";
}

.wrapper {
    min-height: 100vh;
    overflow: hidden;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.header {
    height: 100px;
    padding: 0 40px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.header__logo-container {
    height: 100%;
    max-width: 180px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

header h1 {
    font-size: 20px;
}

.header__cart {
    width: 50px;
}

.content {
    display: flex;
    flex: 1 1 auto;
}

.cart__icon__count__badge {
    color: purple;
}

/* -- Sidebar -- */

.sidebar {
    width: 220px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.sidebar__tools-list {
    text-shadow: 1px 1px 2px bisque;
}

.sidebar__tools-list-item {
    height: 35px;
    margin-bottom: 15px;
    font-size: 18px;
    padding: 0 0 0 40px;
    display: flex;
    align-items: center;
    transition-duration: 300ms;
}

.sidebar__tools-list-item:hover {
    border-left: 6px solid purple;
}

.sidebar__cart-link {
    margin-left: 10px;
}

/* -- Auth -- */

.auth__form__container {
    border: 2px solid purple;
    width: 600px;
    margin: 70px auto 0;
    padding: 50px;
}

.auth__form__container h2 {
    text-align: center;
    margin-bottom: 30px;
}

.auth__form-email input {
    width: 100%;
    margin-bottom: 20px;
}

.auth__form-pass input {
    width: 100%;
    margin-bottom: 10px;
}

.auth__form__register__advice {
    margin-bottom: 20px;
}

.auth__form__register__advice a {
    color: blue;
}

.auth__form__register__advice a:hover {
    color: green;
}

/* --- TypeBar --- */
.figure__typeBar__item:hover {
    background-color: #E6E6E6;
}

/* -- Gallery -- */

.gallery {
    margin-bottom: 50px;
}

.gallery__title h2 {
    padding: 0 20px 20px;
    font-size: 20px;
}

.fa-heart {
    color: purple;
}

/* --- Admin Page --- */

.admin__page__action-btn {
    align-self: center;
    padding: 20px 0;
    margin-bottom: 20px;
    width: 400px
}

.admin__page__action-btn:last-child {
    margin-bottom: 0;
}

/* --- Modals Dropdown --- */
.modal__dropdown, .modal__input {
    margin-bottom: 20px;
}

/* --- Pagination --- */
.pagination {
    display: flex;
    justify-content: center;
    transform: translateX(-150px);
}

/* --- Cart Page --- */
.order__page__title {
    margin-bottom: 30px;
}

.cart__table__container h2 {
    margin-bottom: 20px;
}

.cart__table__container table {
    width: 800px;
    margin-bottom: 40px;
}

.cart__table__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --- ORDER Page --- */
.buyer__contacts__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.buyer__contacts__form p {
    color: grey;
    align-self: start;
    margin-bottom: 5px;
}

.input__label__required__marker {
    color: red;
    margin-left: 2px;
}

.buyer__contacts__form-input {
    margin-bottom: 20px;
    height: 40px;
    width: 80%;
    align-self: start;
    border: 1px solid purple;
    border-radius: 5px;
}

.buyer__contacts__form-input[name="comments"] {
    height: 100px;
    margin-bottom: 50px;
}

.order__form__btn__container {
    display: flex;
    width: 80%;
    align-self: start;
    justify-content: space-between;
}

/* --- Footer --- */

footer {
    margin-top: 50px;
    min-height: 100px;
    width: 100%;
    padding: 40px 0 30px;
    color: #E6E6E6;
    background-color: black;
    align-items: end;
}

.footer__links-container {
    margin-bottom: 40px;
}

.footer__column-links a {
    color: #E6E6E6;
    display: block;
    min-width: 140px;
}

.footer__column-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__copyrights-container {
    display: flex;
    justify-content: center;
}

.footer__column-copyrights {
    display: flex;
    justify-content: center;
    align-items: end;
}

.footer__column-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__column-contacts p {
    min-width: 220px;
}
