*, *::before, *::after {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd {
    margin: 0;
}

ul[class], ol[class] {
    list-style: none;
    margin: 0;
    padding: 0;
}

html:focus-within {
    scroll-behavior: smooth;
}

html, body {
    text-rendering: optimizeSpeed;
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: black;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img, picture {
    max-width: 100%;
    display: block;
}

input, button, textarea, select {
    font: inherit;
}

.wrapper {
    min-height: 100vh;
    overflow: hidden;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex: 1 1 auto;
}

/* --- Header --- */

.header {
    height: 100px;
    padding: 0 40px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.header__logo-container {
    height: 100%;
    max-width: 180px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

header h1 {
    font-size: 20px;
}

.header__nav {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.header__nav__tel {
    display: flex;
    justify-content: end;
}

/*.header__nav__menu {*/
/*    display: flex;*/
/*    justify-content: end;*/
/*}*/

.header__login__btn {
    margin-right: 10px;
    padding: 0 15px;
    height: 45px;
}

.header__cart-btn {
    padding: 0 10px 0;
}

.header__cart__icon-container {
    display: flex;
    align-items: center;
    height: 45px;
}

/* --- Goods Counter --- */

.goods__counter__container {
    align-self: start;
}

.goods__counter {
    color: purple;
    align-self: start;
}

/* -- Sidebar -- */

.sidebar {
    width: 220px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.sidebar__tools-list-item {
    height: 35px;
    margin-bottom: 15px;
    font-size: 18px;
    padding: 0 0 0 40px;
    display: flex;
    align-items: center;
    border-left: 0 solid purple;
    transition: border-left-width 300ms ease, border-left-color 300ms ease;
}

.sidebar__tools-list-item:hover {
    border-left-width: 6px;
}

/* -- Auth -- */

.auth__form__container {
    border: 2px solid purple;
    width: 600px;
    margin: 70px auto 0;
    padding: 50px;
}

.auth__form__container h2 {
    text-align: center;
    margin-bottom: 30px;
}

.auth__form-email input {
    width: 100%;
    margin-bottom: 20px;
}

.auth__form-pass input {
    width: 100%;
    margin-bottom: 10px;
}

.auth__form__register__advice {
    margin-bottom: 20px;
}

.auth__form__register__advice a {
    color: blue;
}

.auth__form__register__advice a:hover {
    color: green;
}

/* --- TypeBar --- */

.figure__typeBar__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 170px;
    text-align: center;
    cursor: pointer;
    border-width: 2px;
}

.figure__typeBar__item:hover {
    background-color: #E6E6E6;
}

.figure__typeBar__item button {
    padding: 0 5px;
    margin-left: 10px;
    max-width: 30px;
}

/* -- Gallery -- */

.gallery {
    margin-bottom: 50px;
}

.gallery__title h2 {
    padding: 0 20px 20px;
    font-size: 20px;
}

.fa-heart {
    color: purple;
}

.gallery__card__product__code {
    font-size: 15px;
    margin-bottom: 5px;
}

.gallery__card__product__name {
    font-size: 18px;
    margin-bottom: 5px;
}

.gallery__card__product__price {
    font-size: 18px;
}

.gallery__card__product__price span {
    color: purple;
    font-size: 22px;
}

/* --- Admin Page --- */

.admin__page__action__btn__container {
    margin-bottom: 30px;
}

.admin__page__action__btn {
    align-self: center;
    margin-right: 20px;
    width: fit-content;
    padding: 15px 15px;
}

.admin__page__action__btn:last-child {
    margin-right: 0;
}

.admin__page__edit__btns__container {
    display: flex;
    justify-content: center;
}

.admin__page__edit__btn {
    margin-right: 10px;
}

/* --- Modals Dropdown --- */
.modal__dropdown, .modal__input {
    margin-bottom: 20px;
}

/* --- Pagination --- */
.pagination {
    display: flex;
    justify-content: center;
    transform: translateX(-150px);
}

/* --- Cart Page --- */
.order__page__title {
    margin-bottom: 30px;
}

.cart__table__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart__table__container h2 {
    margin-bottom: 20px;
}

.cart__table__container table {
    min-width: 300px;
    max-width: 900px;
    margin-bottom: 40px;
}

/* --- ORDER Page --- */
.buyer__contacts__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.buyer__contacts__form p {
    color: grey;
    align-self: start;
    margin-bottom: 5px;
}

.input__label__required__marker {
    color: red;
    margin-left: 2px;
}

.buyer__contacts__form-input {
    margin-bottom: 20px;
    height: 40px;
    width: 80%;
    align-self: start;
    border: 1px solid purple;
    border-radius: 5px;
}

.buyer__contacts__form-input[name="comments"] {
    height: 100px;
    margin-bottom: 50px;
}

.order__form__btn__container {
    display: flex;
    width: 80%;
    align-self: start;
    justify-content: space-between;
}

/* --- Contacts page --- */

.contacts__container {
    display: flex;
    justify-content: center;
}

.contacts__content {
    min-width: 300px;
    max-width: 600px;
}

.contacts__icon {
    color: purple;
    margin-right: 10px;
}

.contacts__info__block {
    margin-bottom: 30px;
}

.contacts__info__block h2, h4 {
    margin-bottom: 20px;
}

.contacts__tel__block p {
    margin-bottom: 5px;
}

.contacts__tel__block p:last-child {
    margin-bottom: 0;
}

.contacts__graphic__block p {
    margin-bottom: 10px;
}

.contacts__graphic__block p:last-child {
    margin-bottom: 0;
}

.contacts__address__block p {
    margin-bottom: 15px;
}

.contacts__support__block {
    font-size: 16px;
}

.contacts__support__block h4 {
    margin-bottom: 15px;
}

.contacts__support__block p {
    margin-bottom: 10px;
}

.contacts__support__block p:last-child {
    margin-bottom: 0;
}

/* --- Footer --- */

footer {
    margin-top: 50px;
    min-height: 100px;
    width: 100%;
    padding: 40px 0 30px;
    color: #E6E6E6;
    background-color: black;
    align-items: end;
}

.footer__links-container {
    margin-bottom: 40px;
}

.footer__column-links a {
    color: #E6E6E6;
    display: block;
    min-width: 140px;
}

.footer__column-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__copyrights-container {
    display: flex;
    justify-content: center;
}

.footer__column-copyrights {
    display: flex;
    justify-content: center;
    align-items: end;
}

.footer__column-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__column-contacts p {
    min-width: 245px;
}
