h1 {
  font-size: 24px;
}

.article__content__container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: flex-start;
}

.article__img__container {
  flex: 0 1 auto;
  max-width: 350px;
  height: auto;
}

.article__img__container img {
  display: block;
  max-width: 100%;
  height: auto;
}

.article__text__container {
  flex: 1 1 200px;
  min-width: 200px;
}