@import "variables";
@import "mixins";

.auth__form__container {
  border: 2px solid $color-primary;
  width: 100%;
  max-width: 600px;
  margin: 70px auto 0;
  padding: 50px;
}

.auth__form__container h2 {
  text-align: center;
  margin-bottom: 30px;
}

.auth__form-email input {
  width: 100%;
  margin-bottom: 20px;
}

.auth__form-pass input {
  width: 100%;
  margin-bottom: 10px;
}

.auth__form__register__advice {
  margin-bottom: 20px;
}

.auth__form__register__advice a {
  color: blue;
}

.auth__form__register__advice a:hover {
  color: green;
}

.auth__action__btn {
  @include btn-style;
}
