@import "variables";

:root {
  --shadow1: rgba(255,255,255,0.7);
  --shadow2: rgba(0, 0, 0, 0.15);
  --radius:  5px;
  --space:   1rem;
}

html, body {
  text-rendering: optimizeSpeed;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: $text-color;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

.wrapper {
  min-height: 100vh;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.page__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  overflow-y: auto;
  margin-bottom: 70px;
}

//.zsu__banner__container {
//  display: flex;
//  max-width: 400px;
//  height: auto;
//  align-self: center;
//  margin-bottom: 15px;
//}

.component__container {
  width: 100%;
  max-width: 1200px;
  min-height: 60vh;
  padding: 0 15px;
  margin-bottom: 50px;
}
