@import "variables";

:root {
  --shadow1: rgba(255,255,255,0.7);
  --shadow2: rgba(0, 0, 0, 0.15);
  --radius:  16px;
  --space:   1rem;
}

html, body {
  text-rendering: optimizeSpeed;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

.wrapper {
  min-height: 100vh;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.page__content {
  display: flex;
  justify-content: center;
  flex: 1;
  overflow-y: auto;
}

.component__container {
  width: 100%;
  max-width: 1200px;
  min-height: 60vh;
  padding: 0 15px;
}
