footer {
  margin-top: 50px;
  min-height: 100px;
  width: 100%;
  padding: 40px 15px 30px;
  color: #E6E6E6;
  background-color: black;
  display: flex;
  justify-content: center;

  @include respond-to(xs) {
    padding: 15px 15px;
  }
}

.footer__content {
  width: 100%;
  max-width: 1200px;
  font-size: 14px;

  @include respond-to(xs) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer__links-container {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;

  @include respond-to(xs) {
    flex-direction: column;
  }
}

.footer__column-links a {
  color: #E6E6E6;
  display: block;
  min-width: 140px;

  @include respond-to(sm) {
    margin-bottom: 10px;
  }
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  align-items: start;

  @include respond-to(xs) {
    margin-bottom: 15px;
  }
}

.footer__column-contacts {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.footer__column-contacts p {
  margin: 0;
  padding: 0;

  @include respond-to(sm) {
    margin-bottom: 10px;
  }
}

.footer__contact__container {
  margin-bottom: 5px;
}

.footer__contact__container:last-child {
  margin-bottom: 0;
}

.footer__copyrights-container {
  display: flex;
  justify-content: center;
}

.footer__column-copyrights {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__column-contacts p {
  min-width: 250px;
}

.footer__social-link {
  font-size: 27px;
  background: linear-gradient(to top, purple 50%, white 50%);
  background-size: 100% 200%;
  background-position: 0 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 1s ease;
}

.footer__social-link:hover {
  background-position: 0 100%;
  transform: scale(125%);
}


