@import "variables";

.gallery {
  margin-bottom: 50px;
}

.gallery__row {
  margin-bottom: 20px;

  @include respond-to(md) {
    display: flex;
    justify-content: center;
  }
}

.gallery__title h2 {
  padding: 0 20px 20px;
  font-size: 20px;
  text-align: center;

  @include respond-to(xs) {
    display: none;
  }
}

.gallery__card {
  width: 100%;
  max-width: 250px;
  height: 100%;
  cursor: pointer;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.gallery__card img {
  align-self: center;
  width: 100%;
  border-radius: 5px;
  max-width: 200px;
  height: 200px;
}

.fa-heart {
  color: $color-primary;
}

.gallery__card__info__container {
  margin-bottom: 15px;
}

.gallery__card__btn__container {
  align-self: center;
  display: flex;
}

.gallery__card__btn {
  padding: 10px;
}

.gallery__card__product__code {
  font-size: 15px;
  margin-bottom: 15px;
}

.gallery__card__product__name {
  font-size: 18px;
  margin-bottom: 5px;
}

.gallery__card__product__price {
  font-size: 15px;
}

.gallery__card__product__price span {
  color: $color-primary;
  font-size: 22px;
}
