@import "variables";
@import "mixins";

.gallery {
  margin-bottom: 50px;
}

.gallery__row {
  margin-bottom: 20px;

  @include respond-to(md) {
    display: flex;
    justify-content: center;
  }
}

.gallery__title h2 {
  padding: 0 20px 20px;
  font-size: 20px;
  text-align: center;

  @include respond-to(xs) {
    display: none;
  }
}

.gallery__card {
  width: 100%;
  max-width: 250px;
  height: 100%;
  cursor: pointer;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: $card-shadow;
}

.gallery__card img {
  align-self: center;
  width: 100%;
  border-radius: 5px;
  max-width: 200px;
  height: 200px;
  object-fit: contain;
}

.fa-heart {
  color: $color-primary;
}

.gallery__card__info__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  margin-bottom: 15px;
}

.gallery__card__btn__container {
  align-self: center;
  display: flex;
}

.gallery__card__btn {
  @include btn-style;
}

.gallery__card__product__code {
  font-size: 15px;
  margin-bottom: 15px;
}

.gallery__product__availability {
  .availability-value {
    color: green;
  }
  .pre-order & {
    color: orange;
  }
}

.gallery__card__product__name {
  font-size: 16px;
  margin-bottom: 5px;

  img {
    object-fit: contain;
  }
}

.gallery__card__product__price {
  font-size: 15px;
}

.gallery__card__product__price span {
  color: $color-primary;
  font-size: 22px;
}
