@import "mixins";

.profile__tabs__container {
  margin-bottom: 15px;
}

.profile__tab {
  @include sidebar-item-style;
  @include btn-style;

  padding: 0;

  @include respond-to(xs) {
    margin-bottom: 10px;
  }
}

.profile__tab .nav-link {
  display: block;
  width: 100%;
  padding: 0 15px;
  line-height: 40px;
  border-radius: 8px;
  background: transparent;
  color: inherit;
}

.profile__tab .nav-link.active {
  background-color: #fff;
  color: inherit;
}

.profile__tab:last-child {
  @include respond-to(xs) {
    margin-bottom: 0;
  }
}

.profile__input {
  @include input-style;
}

@media (max-width: 440px) {
  .orders__history__table th:nth-child(1),
  .orders__history__table td:nth-child(1),
  .orders__history__table th:nth-child(2),
  .orders__history__table td:nth-child(2) {
    display: none;
  }
}

