@import "mixins";

.sidebar__aside__wrapper {
  margin-bottom: 15px;

  @include respond-to(md) {
    padding: 0 25px;
  }
}

.sidebar {
  padding-top: 60px;
  width: 100%;

  @include respond-to(md) {
    display: none;
  }
}

.sidebar__nav__item {
  @include sidebar-item-style;
  @include btn-style;
}

.sidebar__nav__item:last-child {
  margin-bottom: 0;
}

.sidebar__nav__item a {
  line-height: 40px;
  padding: 0 15px;
  width: 100%;
}

.sidebar__filter__option__container {
  display: block;
  margin-bottom: 20px;
}

.sidebar__filter__option__container .form-check {
  margin-right: 20px;
}

.sidebar__filter__option__container .form-check:last-child {
  margin: 0;
}

@include respond-to(md) {
  .sidebar__filter__option__container {
    display: flex;
    align-items: center;
  }
}
