.sidebar__aside__wrapper {
  margin-bottom: 15px;

  @include respond-to(md) {
    padding: 0 25px;
  }
}

.sidebar {
  padding-top: 120px;
  width: 100%;

  @include respond-to(md) {
    display: none;
  }
}

.sidebar__nav__item {
  height: 40px;
  font-size: 16px;
  margin-bottom: 15px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.sidebar__nav__item:last-child {
  margin-bottom: 0;
}

.sidebar__nav__item a {
  line-height: 40px;
  padding: 0 15px;
  width: 100%;
}
