.sidebar__aside__wrapper {
  margin-bottom: 15px;

  @include respond-to(md) {
    padding: 0 25px;
  }
}

.sidebar__menu__container {
  display: none;
}

.sidebar__menu__container {
  @include respond-to(md) {
    display: flex;
    justify-content: space-between;
  }
}

.sidebar__btn__container {
  width: 60px;
  height: 60px;
}

.sidebar__title p {
  @include respond-to(md) {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.sidebar__burger__menu {
  font-size: 45px;
}

.sidebar {
  padding-top: 120px;
  width: 100%;

  @include respond-to(md) {
    display: none;
  }
}

.sidebar__nav__item {
  height: 40px;
  font-size: 16px;
  margin-bottom: 15px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.sidebar__nav__item:last-child {
  margin-bottom: 0;
}

.sidebar__nav__item a {
  line-height: 40px;
  padding: 0 15px;
}
