@import "reset";
@import "variables";
@import "mixins";
@import "base";

@import "adminPage";
@import "articlePage";
@import "authPage";
@import "blogList";
@import "cartPage";
@import "contactsPage";
@import "deliveryPaymentPage";
@import "editProductModal";
@import "footer";
@import "gallery";
@import "goodsCounter";
@import "header";
@import "ofertaPage";
@import "orderPage";
@import "pagination";
@import "privacyPage";
@import "profilePage";
@import "productPage";
@import "returnPolicyPage";
@import "seoBlock";
@import "sidebar";
@import "typebar";
@import "ui";
